/* styles.css */

.content {
  max-width: 600px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  text-align: center; /* Centra el texto dentro del contenedor */
}

h1 {
  color: #3498db; /* Color del texto para el encabezado */
}

img {
  max-width: 100%; /* Ajusta la imagen para que no sobrepase el contenedor */
  border-radius: 8px; /* Añade esquinas redondeadas a la imagen */
  margin-top: 20px; /* Espaciado superior para separar la imagen del texto */
}

article {
  margin-top: 20px; /* Espaciado superior para separar el artículo del resto del contenido */
  line-height: 1.6; /* Altura de línea para una mejor legibilidad del texto */
  color: #555; /* Color del texto para el artículo */
}
