/* Estilos para el componente Card */
.card {
  text-decoration: none;
  color: #333; /* Color del texto sin enlace */
  display: block;
  width: 200px; /* Ajusta el ancho según sea necesario */
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h2 {
  margin: 0;
}

/* Estilo específico para el enlace dentro del componente */
.card h2 a {
  color: #007bff; /* Color del enlace */
  text-decoration: underline;
}
