/* Estilos para el componente Cards */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilos para cada tarjeta (usando la clase 'card' del componente Card) */
.card {
  text-decoration: none;
  color: #333; /* Color del texto sin enlace */
  width: 200px; /* Ajusta el ancho según sea necesario */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 450px;
}

.card img {
  max-width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.card h2 {
  margin: 0;
}

/* Estilo específico para el enlace dentro del componente Card */
.card h2 a {
  color: #007bff; /* Color del enlace */
  text-decoration: underline;
}
